* {
	margin: 0px;
	padding: 0px;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
}

header {
	background-color: #292929;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #292929;
	color: #fff;
	padding: 27px 20px;
}

footer > nav > ul {
	list-style-type: none;
	display: flex;
	column-gap: 10px;
	align-items: center;
	justify-content: center;
}

footer a {
	color: #E8AAFF;
}

img {
	max-width: 100%;
	max-height: 300px;
	display: block;
}

h2 {
	line-height: 1;
}

#content {
	flex: 1 0 auto;
	padding: 20px;
	margin: 0px auto;
	width: 720px;
}

#questionForm {
	padding: 20px;
	margin: 20px 0 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 800px) {
	#content {
		padding: 0px;
		width: 100%;
	}
}

#answerContainer {
	display: flex;
	flex-direction: column;
}

#answerContainer input {
	margin-right: 0.3em;
}

.correct-answer,
.incorrect-answer {
	border-radius: 4px;
}

.correct-answer {
	border: 1px solid green;
	background-color: lightgreen;
}

.incorrect-answer {
	border: 1px solid red;
	background-color: lightpink;
}

#noAnswerNotice {
	color: red;
}

#explanation ul {
	list-style-type: disc;
	list-style-position: inside;
}

input[type="button"] {
	background-color: #333;
	color: #fff;
	padding: 7px 18px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #555;
}
